### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
rebel.xml
.editorconfig

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Project ###
frontend/node_modules/
out/
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
